<div *ngIf="pokemon && !onProfile()" class="WildPokemon" (click)="catchPokemon()">
    <div *ngIf="isCaught" class="bg-red-500 w-full">Caught!</div>
    <img [src]="pokemon.image" [alt]="pokemon.name"/>
    <p>{{ pokemon.name }}</p>
  </div>
  
  <div *ngIf="pokemon  && onProfile()" class="CaughtPokemon" (click)="releasePokemon()">
    <img [src]="pokemon.image" [alt]="pokemon.name"/>
    <p>{{ pokemon.name }}</p>
  </div>
