.WildPokemon {
    border-radius: 4px;
    margin: 40px;
    padding: 4px;
    width: 100px;
    background-color: #fde68a;
    color: #000;
    border-style: dashed;
    border-width: medium;
    border-color: #e79c55;
    box-shadow: 7px 7px 7px #131212;
    text-align: center;
}

.CaughtPokemon {
    border-radius: 4px;
    margin: 40px;
    padding: 4px;
    width: 100px;
    background-color: #fde68a;
    color: #000;
    border-style: solid;
    border-width: medium;
    border-color: #e79c55;
    box-shadow: 7px 7px 7px #131212;
    text-align: center;
}

img {
    -webkit-animation: mover 1.2s infinite alternate;
    animation: mover 1.1s infinite alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    75% { transform: translateY(20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(6px); }
}