<nav class="bg-amber-200 flex justify-between h-14 items-center align-middle sticky top-0 w-full z-50">
  <span class="AppName">Pokemon Trainer</span>
  
  <ng-container *ngIf="user !== undefined">
    
    <ul class="flex">
      <li class="m-4">
        <a class="LinkName" routerLink="/pokemon">Wild Pokemon</a>
      </li>
      <li class="px-1 m-4">
        <a class="LinkName" routerLink="/trainer">Trainer Profile</a>
      </li>
      <app-logout-button class="pr-2 m-4"></app-logout-button>
    </ul>
  </ng-container>

</nav>