<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">
    <label class="block h-6" for="username"></label>
    <input
      ngModel
      #username="ngModel"
      class="border border-slate-300 p-2 rounded w-2/3"
      placeholder="Username"
      type="text"
      name="username"
      id="username"
    />
  </fieldset>

  <button class="bg-yellow-500 p-2 rounded" type="submit">Login</button>
</form>
