
  <header class="HeaderText">
    <h1 class="text-3xl">Welcome {{user?.username}}.</h1>
  </header>
  <h4 class="InlineText text-2xl">You've caught:</h4>

  <main class="container mx-auto p-4 text-amber-200">
    <app-wild-pokemon-list [pokemons]="pokemons" ></app-wild-pokemon-list>
  </main>
